@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}
.page_wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: #1f2937;
}

.page_wrapper > * {
    width: 80%;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header p {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
}

.header a {
    color: e5e7eb;
    font-size: 18px;
}

/* SHOWCASE */
.showcase {
    display: flex;
    justify-content: space-between;
    margin: 70px 0 70px 0;
    column-gap: 10px;
}

.showcase_left {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    row-gap: 15px;
}
.showcase_left h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.showcase p {
    font-size: 18px;
    color: #e5e7eb;
}

.showcase_left h1, .showcase_left p {
    margin: 0;
}
 
button {
    align-self: flex-end;
    padding: 5px 15px;
    background: #3882F6;
    border-radius: 7px;
    border-style: none;
}

button a {
    color: white;
}

.showcase_right {
    display: flex;
    flex: 1 1 0;
    align-content: flex-start;
}

.showcase_left > * {
    margin: 0;
}

img {
    height: 100%;
    width: 100%;
}
